<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <i class="fas fa-users-cog"></i>
        <h1>admin Panel</h1>
      </div>
  
      <!-- Login Form -->    
      <form>
        <input type="text" id="login" class="fadeIn second  form-control" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third m-t-20" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth m-t-15" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
    
  
    </div>
  </div>